.employee{
    width: 80%;
    height: 80%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    text-align: left;
}
.employee .form-control:focus {
    border-color: #167bff;
    box-shadow: none;
  }
  .employee h3 {
    padding-top: 20px;
    text-align: center;
    margin: 0;
    line-height: 1;
    padding-bottom: 20px;
  }